.main_wrapper {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
}
h2 {
    width: 100px;
    height: 27px;
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 34px;
    margin-top: 0px;
}
.directories_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

@media screen and  (max-width: 980px)  {
    .directories_wrapper {
        justify-content: space-between;
    }
}

@media screen and  (max-width: 680px)  {
    .directories_wrapper {
        justify-content: center;
    }
}